
#artwork-page {

	#top, #left, #right, #bottom {
		display: none;
	}

	// page background
	.page-background {
		@include background( // textured background
			url(img/bkgd/bkgd-noise.png));
	} // end page-background



	//isotope artwork container
	#artwork-container {
		width: 90%;
		margin: 0 auto;
		


	} // end artwork container







	// copyright
	.copyright {
		display: none;
	}

} // end artwork-page

