
// full site
.page-container {
	padding-left: 225px;
	padding-right: 60px;
	overflow: hidden;
	max-width: 1300px;
	width: 100%;
	
}

// artwork container 
#container {
	max-width: 1000px;
	padding-left: 10px;
	padding-top: 10px;
}