
#intro-page { 

	// page background
	.page-background {
		background: $blue; // fallback color
		@include background( // textured blue background
			url(img/bkgd/bkgd-noise.png),
			radial-gradient(rgba(57, 81, 105, 0.7), rgba(0,0,0,0) 40%),
			radial-gradient(rgba(0,0,0,0), $dark-blue),
			#304355);
	} // end page-background


	// centering page content
	.centering-block {
		text-align: center;
		height: 100%;
		overflow: auto;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			//margin-right: -0.25em; // adjust for spacing
		}
	}

	.centered-content {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
	}
	// end centering page content

	


} // end intro page








